body{
    background-color: 	#F5F4E6;
    margin: 0; 
    cursor: default;
    color: #483C32

}

*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px; 
    border-bottom: 1.5px solid #483C32;
}

.navbar, p{
    font-family: "Inter", serif;
}

h1{ 
    font-family: "Instrument Serif", serif;
    font-size: 8em;
    font-weight: 300;
    text-align: center;
    margin: 0;
    padding: 0px 0px 20px 0px;
}


.logo, .nav-links{
    padding: 0px 10px;
}

.nav-links{
    list-style: none; 
    display: flex; 
    gap: 20px; 
}

.nav-links li{
    display: inline;
}

.nav-links a{
    text-decoration: none;
    color: #483C32;
    padding: 0px 10px;
}

.nav-links a:hover{
    text-decoration: none;
    color: #D2042D;
    padding: 0px 10px;
}

#hamburger-menu{
    display: none; 
    font-size: 2em;
    background: none; 
    border: none;
    color: #5f4e34; 
    cursor: pointer;
    margin-left: auto;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: white;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        padding: 10px;
        text-align: center;
    }

    .nav-links.active {
        display: flex; 
    }

    .nav-links li {
        padding: 10px 0;
    }

    #hamburger-menu {
        display: block; 
    }
}


#hero-container{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.centered-text{
    margin: 0 0 100px 0;
    max-width: 700px;
    text-align: center;
}

#hi, #im, #tina{
    /* color: #483C32;  */
    opacity: 0; 
    transition: color .1 ease-in-out, opacity .5s ease-in-out;
}


.work-button{
    margin-top: 80px;
    text-decoration: none;
    color: #483C32;
}

.arrow {
    max-width: 5%; 
    max-height: 4%;
    margin-top: 20px; 
    transform: rotate(90deg);
}


.arrow:hover{
    fill: #D2042D;
    cursor: pointer;
}

#work-section{
    border-top: 1.5px solid #483C32;
    border-bottom: 1.5px solid #483C32;
}


.project-headings{
    font-family: "Instrument Serif", serif;
    font-size: 3em;
    font-weight: 300;
}
